<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.karthikraj.sample.scrollingbehaviorandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StdAppBarScrollActivity" />
        <activity android:name=".StdAppBarStaysActivity" />
        <activity android:name=".AppBarWithTabsScrollsActivity" />
        <activity android:name=".AppBarWithTabsStaysActivity" />
        <activity android:name=".AppBarWithToolBarAndTabStaysActivity" />
        <activity android:name=".AppBarFlexiSpaceScrollsActivity" />
        <activity android:name=".AppBarFlexiImageScrollsActivity" />
        <activity android:name=".AppBarFlexiOverlappingActivity" />
    </application>

</manifest>
